@tailwind base;
@tailwind components;
@tailwind utilities;

/* Typing cursor animation */
.typing-cursor {
    animation: blink 1s infinite;
    color: #0ea5e9;
    /* sky-500 */
}

@keyframes blink {

    0%,
    50% {
        opacity: 1;
    }

    51%,
    100% {
        opacity: 0;
    }
}

/* Dark mode cursor color */
.dark .typing-cursor {
    color: #38bdf8;
    /* sky-400 */
}